# This is a template .gitignore file for git-managed WordPress projects.
#
# Fact: you don't want WordPress core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.

# Ignore the credential configuration files.
www/local-config.php
www/dev-config.php
www/staging-config.php
www/production-config.php

# Ignore everything in the "wp-content" directory, except the "plugins"
# and "themes" directories.
www/wp-content/*
!www/wp-content/plugins/
!www/wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins you
# specify (see the commented-out examples for hints on how to do this.)
www/wp-content/plugins/*
# !www/wp-content/plugins/my-single-file-plugin.php
# !www/wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes you
# specify (see the commented-out example for a hint on how to do this.)
www/wp-content/themes/*
# !www/wp-content/themes/my-theme/
